////
/// @group hero
////

/// A hero component. This applies the styles to the hero container.
/// @example
/// .hero {
///   @include hero(100vh);
/// }
/// @param {String} $height [500px]               - Minimum height
/// @param {List}   $align [center center]        - The flex position of the overlaid content. Sets align-items and justify-content.
/// @param {Color}  $overlay [rgba(0, 0, 0, 0.7)] - The color of the overlay. Set to `null` for no overlay.
@mixin hero(
    $height: 500px,
    $align: center center,
    $overlay: rgba(0, 0, 0, 0.7)
) {
    @if length($align) != 2 {
        @error '`$align` should be a list containing 2 keywords.';
    }

    display: flex;
    min-height: $height;
    align-items: nth($align, 1);
    justify-content: nth($align, 2);

    @if $overlay {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: $overlay;
        }
    }
}

/// Styling for the hero content which sits on top of the container.
/// @example
/// .hero__content {
///   @include hero__content;
/// }
@mixin hero__content {
    position: relative;
    z-index: 2;
}
